.navbarTop {
  @apply fixed top-0 z-10 grid h-[80px] w-full grid-cols-3 items-center justify-between bg-skin-fill-accent px-10 py-2 shadow-xl transition-all duration-300 ease-in;
}

.navbarTopHeader {
  @apply hidden truncate opacity-100 transition-all duration-1000 lg:flex;
  font-size: 2.5rem;
  font-family: 'Monoton', monospace;
}

.navbarTopHeaderInitials {
  @apply hidden truncate opacity-100 transition-all duration-1000 sm:flex lg:hidden;
  font-size: 2.5rem;
  font-family: 'Monoton', monospace;
}

.navbarTopProjectBtn {
  @apply col-span-3 flex flex-row justify-center sm:col-span-2 sm:justify-start md:col-span-1 md:justify-center;
}

.navbarTopBtnBar {
  @apply hidden flex-row justify-end gap-2 md:flex;
}

.navbarTopHamburger {
  @apply fixed right-5 flex flex-col md:hidden;
}

.navbarJumbotron {
  @apply mt-2;
}

.navbarJumbotronHeader {
  @apply invisible h-0 opacity-0;
}

.navbarJumbotronBtnBar {
  @apply mt-2 flex flex-row gap-4 transition-all ease-in sm:mt-4;
}
